form {
    width: 280px;
    padding: 0px 10px;

}

h3 {
    color: var(--accent);
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
}

img {
    width: 50%;
    margin: 15px 0px 15px 70px;

    @media(max-width: 400px) {
        margin: 15px 0px 15px 60px;
    }
}

button {
    background: var(--accent);
    color: var(--lemon);
    width: 100%;
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
}

button:hover {
    background: var(--accent);
    color: var(--lemon);
    width: 100%;
    box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

.link-signup {
    padding-top: 10px;
    font-size: .9rem;
    text-align: center;
    color: var(--accent);
    cursor: pointer;

}

.link-signup:hover {
    text-decoration: underline;
}

.forgot-pass {
    font-size: .8rem;
    text-align: center;
    margin-top: 10px;
}

.send-email {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: .8rem;
    color: var(--accent);
    cursor: pointer;
}

.send-email:hover {
    text-decoration: underline;
}

.mat-form-field {
    width: 100%
}

@media(max-width: 400px) {
    form {
        padding: 0px;
        width: 220px;

        @media(max-width: 220px) {
            width: 140px;
        }
    }

    h3 {
        font-size: 1.2rem;
        padding: 0px;
    }
}