<!-- <div class="position">   
    <mat-button-toggle-group #toggleLanguages="matButtonToggleGroup" (change)="switchLang(toggleLanguages.value)" vertical="true">
        <mat-button-toggle  value="ca"><img [src]="this.urlFlags.catalonia" alt="catalan-flag" title="català" width="25" height="25"></mat-button-toggle>
        <mat-button-toggle value="es"><img [src]="this.urlFlags.spain" alt="spanish-flag" title="castellano" width="20" height="20"></mat-button-toggle>
        <mat-button-toggle value="en"><img [src]="this.urlFlags.england" alt="english-flag" title="english" width="28" height="28"></mat-button-toggle>
    </mat-button-toggle-group>   
</div> -->
