<div class="main-container">
  <h1>{{ 'crud.article-card.articles-of' | translate }} {{ this.username }} ({{ articles.length }})</h1>
  <!-- Paginator -->
  <mat-paginator [length]="articles.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page" showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>

  <!-- search -->
  <div class="container search d-flex" style="background-color: transparent;">
    <input class="form-control" type="search" placeholder="{{ 'crud.article-card.search' | translate }}"
      aria-label="Search" [(ngModel)]="this.filterByTitle">
  </div>

  <!-- Sort selector -->
  <div class="container" style="display: flex; justify-content: center; margin-top: 20px;">
    <app-sort-selector (selectedOption)="onSortBy($event)"></app-sort-selector>
  </div>

  <section *ngIf="articles.length > 0; else noArticles" class="articles-section shadow rounded">
    <article *ngFor="let article of this.articles | search:this.filterByTitle | paginate:pageSize:pageNumber; index as i" data-aos="fade-up"
      data-aos-duration="1000">
      <div class="article-card">
        <div class="header-card container">
          <h3>{{ article.title }}</h3>
          <div></div>
          <button mat-icon-button aria-label="menu" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <a routerLink="/article/{{ article.id }}" style="cursor: pointer;">
          <img [src]="article.imagenPortada" alt="{{ article.caption }}"
            title="{{ 'user-blog.goto-article' | translate }}">
        </a>
        <div class="btn-container">
            <!-- <button mat-button matTooltip="{{ 'EditArticle' | translate }}"
              (click)="onEdit(article)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button matTooltip="{{ 'crud.article-card.video-tool-tip' | translate }}"
              (click)="onOpenVideosGallery(article)" matTooltip="gallery view">
              <mat-icon>movie_creation</mat-icon>
            </button>
            <button mat-button matTooltip="{{ 'MyImages' | translate }}"
              (click)="onOpenImagesGallery(article)" matTooltip="gallery view">
              <mat-icon>image</mat-icon>
            </button> -->
        </div>
      </div>
      <!-- MENU -->
      <mat-menu #menu xPosition="before">
        <!-- EDIT BUTTON -->
        <button mat-menu-item routerLink="/group-form">
          <mat-icon>add_circle</mat-icon>
          {{ 'CreateArticle' | translate }}
        </button>
        <mat-divider></mat-divider>
        <!-- EDIT BUTTON -->
        <button mat-menu-item (click)="onEdit(article)">
          <mat-icon>edit</mat-icon>
          {{ 'EditArticle' | translate }}
        </button>
        <mat-divider></mat-divider>
        <!-- YOUTUBE BUTTON -->
        <button mat-menu-item (click)="onOpenVideosGallery(article)">
          <mat-icon>movie_creation</mat-icon>
          {{ 'crud.article-card.video-tool-tip' | translate }}
        </button>
        <mat-divider></mat-divider>
        <!-- FILES BUTTON -->
        <button mat-menu-item (click)="onOpenImagesGallery(article)">
          <mat-icon>image</mat-icon>
          {{ 'MyImages' | translate }}
        </button>
        <mat-divider></mat-divider>
        <!-- DELETE BUTTON -->
        <button mat-menu-item color="warn" (click)="onDelete(article)">
          <mat-icon>delete</mat-icon>
          {{ 'Delete' | translate }}
        </button>
      </mat-menu>
    </article>
  </section>

  <ng-template #noArticles>
    <section class="articles-section shadow rounded">
      <article data-aos="fade-up" data-aos-duration="1000">
        <div class="article-card">
          <div>
              <h3 style="color: rgba(255, 255, 255); cursor: auto;">No articles</h3>
          </div>
            <img src="./../../../assets/img/logo-blogex.jpg" alt="logo-blogex"
              title="{{ 'user-blog.goto-article' | translate }}" style="cursor: auto;">
          <div class="btn-container">
              <button mat-button matTooltip="{{ 'New' | translate }}" routerLink="/group-form">
                <mat-icon>edit</mat-icon>
              </button>
          </div>
        </div>
      </article>
    </section>
  </ng-template>
</div>
<app-footer></app-footer>


