<mat-card #newArticle class="example-card">
  <mat-card-title>New Article</mat-card-title>
  <mat-card-content>
    <form [formGroup]="newPostForm" (ngSubmit)="onSubmit(newPostForm.value)">
      <p>
        <mat-form-field class="input-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" id="title" formControlName="title" placeholder="The title of your article">
          <div *ngIf="newPostForm.get('title')?.touched && newPostForm.get('title')?.errors?.['maxlength']"
            class="error">
            Title too large</div>
        </mat-form-field>
      </p>

      <div *ngFor="let view of viewForm">
        <div class="containerFile">
          <label>Cover image (max 2MB):</label><br>
          <div *ngIf="this.image" style="margin-top: 5px;">
            <!-- <h5>Vista previa</h5> -->
            <div>
              <img class="image-thumbnail" style="max-width: 100px; border-radius: 5%;" [src]="miniatura">
            </div>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" multiple id="inputUpload"
              formControlName="img{{ view }}" (change)="handleImage($event)">
            <label class="custom-file-label" for="inputUpload">
              <mat-icon>upload</mat-icon>&nbsp;&nbsp;Select image
            </label>
          </div>
        </div>
        <!-- <p>
                    <mat-form-field class="input-width" appearance="fill">
                        <mat-label>Img {{ view }}</mat-label>
                        <input matInput formControlName="img{{ view }}" placeholder="Information about the picture">
                    </mat-form-field>
                </p> -->
        <p>
          <mat-form-field class="input-width" appearance="fill">
            <mat-label>Caption</mat-label>
            <input matInput formControlName="alt{{ view }}" placeholder="Information about the picture">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="input-width" appearance="fill">
            <mat-label>Text</mat-label>
            <textarea matInput id="textarea" formControlName="text{{ view }}"
              placeholder="Some text. The content of your article"></textarea>
          </mat-form-field>
        </p>
      </div>

      <h3 matTooltip="Introduce the coordinates to see this route on the map" matTooltipPosition="right">Coordinates:
      </h3>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="input-coordinates" appearance="fill">
              <mat-label>Latitude</mat-label>
              <input type="number" matInput formControlName="latitude">
            </mat-form-field>
          </td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <td>
            <mat-form-field class="input-coordinates" appearance="fill">
              <mat-label>Longitude</mat-label>
              <input type="number" matInput formControlName="longitude">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <!-- <button id="moreButton" mat-stroked-button color="accent" (click)="moreImgs()">{{ buttonTag }}</button> -->
      <button id="createButton" type="submit" mat-raised-button>Publish Article</button>
    </form>
  </mat-card-content>
</mat-card>