mat-card{
    position: absolute;
    top: 74px;
    width: 67%;
    margin: 0px 1%;
    padding:0px;
    @media(max-width:800px){
        width:90%;
        max-width: 540px;
        margin: 0px 5%;
    }
}
mat-card-title{
    text-align: center;
    padding: 20px 0px;
    font-size: 1.7rem;
    @media(max-width:800px){
        text-align: start;
        font-size: 1.4rem;
    }
}
mat-card-content{
    padding:10px 30px;
    @media(max-width: 600px){
        padding-left: 10px;
    }
}
.input-width{
    width:100%;
}
.containerFile{
    margin: 20px 0px;
    #inputUpload{
        visibility: hidden;
        width: 0px;
    }
    .custom-file-label{
        border: 1px solid silver;
        margin-top: 10px;
        width:155px;
        height: 44px;
        font-size: 1rem;
        border-radius: 4px;
        cursor:pointer;
        
        .mat-icon{
            color: var(--primary);
            padding-top: 5px;
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
    }
    .custom-file-label:active{
        background-color: rgba(230,230,240,0.8);
    }
    .custom-file-label:hover{
        border: 1px solid var(--primary);
    }
}
#textarea{
    height:70px;
}
#createButton{
    min-width: 130px;
    width: 30%;
    margin:10px 35%;
    background-color: var(--primary);
    color: white;
}
#moreButton{
    margin-top: 20px;;
}
form h3{
    width:100px;
}
#toEdit{
    position: absolute;
    top:14px;
    left: 75%
}
.error{
    color:red;
    font-size: .8rem;
}

.input-coordinates {
    @media(max-width: 500px){
        width: 130px;
    }
}