mat-card {
    height: 900px;
    margin: 30px 0 3px0 0px;
    padding: 0px;
    border: none;

    @media(max-width:800px) {
        width: 90%;
        margin: 0px 5%;
    }
}

mat-card-title {
    text-align: center;
    padding: 30px 0px;
    font-size: 1.4rem;
}

mat-card-content {
    padding: 10px 30px;

    @media(max-width: 600px) {
        padding-left: 10px;
    }
}

.input-width {
    width: 100%;
}

.input-coordinates {
    @media(max-width: 500px) {
        width: 170px;
    }

    @media(max-width: 400px) {
        width: 120px;
    }

    @media(max-width: 300px) {
        width: 80px;
    }

}

.containerFile {
    margin: 20px 0px;

    #inputUpload {
        visibility: visible;
        width: 0px;
    }

    .custom-file-label {
        border: 1px solid silver;
        margin-top: 10px;
        width: 155px;
        height: 44px;
        font-size: 1rem;
        border-radius: 4px;
        cursor: pointer;

        .mat-icon {
            color: var(--accent);
            padding-top: 5px;
            width: 30px;
            height: 30px;
            font-size: 30px;
        }
    }

    .custom-file-label:active {
        background-color: rgba(230, 230, 240, 0.8);
    }

    .custom-file-label:hover {
        border: 1px solid var(--accent);
    }
}

#textarea {
    height: 70px;
}

.create-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
        width: 130px;
        background-color: var(--accent);
        color: var(--lemon);
    }

    button:hover {
        color: white;
    }
}

.error {
    color: red;
    font-size: .8rem;
}

::ng-deep .mat-tab-body-content {
    background-color: #17373b;
    background-color: var(--cream);
    padding: 25px;
  }
