mat-card{
    position: absolute;
    top: 74px;
    width: 67%;
    margin: 0px 1%;
    padding:0px;
}
mat-card-title{
    text-align: center;
    padding: 20px 0px;
    font-size: 1.7rem;
}
mat-card-content{
    padding:10px 30px;
}
.input-width{
    width:100%;
}
.containerFile{
    margin: 20px 0px;
}
#textarea{
    height:70px;
}
#createButton{
    min-width: 130px;
    width: 30%;
    margin:10px 35%;
    background-color: var(--primary);
    color: white;
}