.toolbarClass{
    background-color: var(--accent);//200
    margin-bottom: 10px;
    color: #69F0AE;
    mat-icon{
        width: 130px;
    }
    #title{
        width:100px;
        margin-top: 0px;
        margin-left: 180px;
        font-size: 1.8rem;
        color: #69F0AE;
    }
    #logReg{
        width:130px;
        margin-left: 60px;
        a{
            color: #69F0AE;
            font-size: .9rem;
            cursor: pointer;
        }
    }
    #logOut{
        width:130px;
        a{
            color: #69F0AE;
            font-size: .9rem;
            cursor: pointer;
        }
    }
}