<mat-toolbar class="toolbarClass">

  <mat-toolbar-row class="toolbar">

    <img class="logo" src="../../../assets/img/logo-blogex.jpg" alt="logo-blogex" (click)="onHome()" matTooltip="{{ 'Home' | translate }}" >

    <app-search></app-search>
    
    <div class="buttons">
      <!-- HEADER BUTTONS IF NOT MOBILE-->
      <ng-container *ngIf="!isMobile; else mobile">
        <!-- HOME BUTTON -->
        <button mat-icon-button aria-label="home" (click)="onHome()">
          <mat-icon matTooltip="{{ 'Home' | translate }}">home</mat-icon>
        </button>
        <!-- INFO BUTTON -->
        <button mat-icon-button aria-label="info" (click)="onHelp()">
          <mat-icon matTooltip="{{ 'info.help' | translate }}">help</mat-icon>
        </button>
        <!-- LANGUAGE BUTTON -->
        <button mat-icon-button aria-label="language" [matMenuTriggerFor]="language_menu">
          <mat-icon matTooltip="{{ 'Language' | translate }}">language</mat-icon>
        </button>
        <!--NOT LOGGED USER BUTTON -->
        <ng-container *ngIf="!tokenService.isLogged(); else loggedButton">
          <button mat-icon-button aria-label="user" (click)="openLogin()">
            <mat-icon>account_circle</mat-icon>
          </button>
        </ng-container>
      </ng-container>
      <!-- HEADER BUTTONS IF MOBILE-->
      <ng-template #mobile>
        <ng-container *ngIf="!tokenService.isLogged(); else loggedButton">
          <button mat-icon-button [matMenuTriggerFor]="user_menu" #menuTrigger="matMenuTrigger"
            (mouseover)="openMenu(menuTrigger)">
            <mat-icon>menu</mat-icon>
          </button>
        </ng-container>
      </ng-template>
      <!-- USER LOGGED BUTTON -->
      <ng-template #loggedButton>
        <button class="logout" matTooltip="{{ tokenService.getUsername() }}" [matMenuTriggerFor]="user_menu"
          #menuTrigger="matMenuTrigger" (mouseover)="openMenu(menuTrigger)">
          {{ tokenService.getUsername()?.charAt(0)?.toUpperCase() }}
        </button>
      </ng-template>
    </div>

  </mat-toolbar-row>

</mat-toolbar>

<!-- USER MENU -->
<mat-menu #user_menu>
  <!-- MENU BUTTONS IF MOBILE -->
  <ng-container *ngIf="isMobile">
    <!-- HOME BUTTON -->
    <button mat-menu-item (click)="onHome()">
      <mat-icon>home</mat-icon>
      {{ 'Home' | translate }}
    </button>
    <mat-divider></mat-divider>
     <!-- INFO BUTTON -->
    <button mat-menu-item (click)="onHelp()">
      <mat-icon>help</mat-icon>
      {{ 'header.help' | translate }}
    </button>
    <mat-divider></mat-divider>
    <!-- LANGUAGE BUTTONS -->
    <ng-container *ngFor="let context of contexts">
      <ng-template 
        *ngTemplateOutlet="languageButtonTemplate; 
        context: { 
          lang: context.lang, 
          flag: context.flagUrl, 
          title: context.title, 
          label: context.label, 
          width: context.width, 
          height: context.height}">
      </ng-template>
    </ng-container>
    <!-- LOGIN BUTTON -->
    <button mat-menu-item (click)="openLogin()" *ngIf="!this.tokenService.isLogged()">
      <mat-icon>login</mat-icon>
      {{ 'Login' | translate }}
    </button>
  </ng-container>

  <!-- MENU BUTTONS IF LOGGED -->
  <ng-container *ngIf="this.tokenService.isLogged()">
      <!-- MY BLOG BUTTON -->
    <button mat-menu-item routerLink="/blog/{{ this.tokenService.getUsername() }}">
      <mat-icon>book</mat-icon>
      {{ 'Blog' | translate }}
    </button>
    <mat-divider></mat-divider>
    <!-- ARTICLE EDITOR BUTTON -->
    <button mat-menu-item routerLink="/admin/new">
      <mat-icon>edit</mat-icon>
      {{ 'header.articles-editor' | translate }}
    </button>
    <mat-divider></mat-divider>
     <!-- ARTICLE EDITOR BUTTON -->
     <button mat-menu-item routerLink="/group-form">
      <mat-icon></mat-icon>
      Group form
    </button>
    <mat-divider></mat-divider>
    <!-- MY ARTICLES BUTTON -->
    <button mat-menu-item routerLink="/articles">
      <mat-icon>article</mat-icon>
      {{ 'header.my-articles' | translate }}
    </button>
    <mat-divider></mat-divider>
     <!-- MY ACCOUNT BUTTON -->
     <button mat-menu-item routerLink="/my-account">
      <mat-icon>person</mat-icon>
      {{ 'MyAccount' | translate }}
    </button>
    <mat-divider></mat-divider>
    <!-- LOGOUT BUTTON -->
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      {{ 'Logout' | translate }}
    </button> 
    <!-- DELETE USER BUTTON -->
    <!-- <button mat-menu-item (click)="onDeleteAccount()">
      <mat-icon style="color: red;">delete</mat-icon>
      {{ 'Delete' | translate }} {{ 'delete.account' | translate }}
    </button> -->
  </ng-container>
</mat-menu>

<!-- LANGUAGE MENU -->
<mat-menu #language_menu>
  <!-- LANGUAGE BUTTONS -->
  <ng-container *ngFor="let context of contexts; index as i">
    <ng-template 
    *ngTemplateOutlet="languageButtonTemplate; 
    context: { 
      lang: context.lang, 
      flag: context.flagUrl, 
      title: context.title, 
      label: context.label, 
      width: context.width, 
      height: context.height}">
  </ng-template>
    <mat-divider *ngIf="i < contexts.length - 1"></mat-divider>
  </ng-container>
</mat-menu>

<!-- LANGUAGE BUTTON TEMPLATE -->
<ng-template #languageButtonTemplate let-lang="lang" let-flag="flag" let-title="title" let-label="label" let-width="width" let-height="height">
  <button mat-menu-item (click)="onSwitchLang(lang)">
    <mat-icon *ngIf="isMobile">language</mat-icon>
    <img [src]="flag" [alt]="title + '-flag'" [title]="title" [width]="width" [height]="height">
    {{ label }}
  </button>
  <mat-divider *ngIf="isMobile"></mat-divider>
</ng-template>