<!-- <div id="capa1" (click)="removeCapa()" (dblclick)="outMap()">
    <div #capa class="capa"></div>
    <div #map id="map">
        <mat-spinner *ngIf="!postActual"></mat-spinner>
    </div>
    <div #map2 id="map2"></div>
    <div #map3 id="map3"></div>
    <div id="message">{{ 'ClickMap' | translate }}</div>
</div> -->

<div class="map-container" (click)="removeCapa()" (dblclick)="outMap()">
    <div #capa class="capa"></div>
    <div #map id="map"></div>
    <div id="message">{{ 'ClickMap' | translate }}</div>
</div>