.example-card {
  max-width: 290px;

}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

// https://www.youtube.com/watch?v=XdrRF4rMXkA&list=PLNGy7jWL6QFmTmS8azq1HRa1FIXFwRI95&index=1
.main-container {
  padding: 20px;
  // border: 10px solid gray;
  // background-color: rgb(126, 234, 253);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* .main-container{
  margin-top: 600px;
} */
.main-container>div {
  margin: 10px;
  padding: 20px;
}

img {
  height: 200px;
}

// input[type=file]{
//     background-color: gray;
//     font-size: 10px;

// }
