<div style="text-align: center;">
  <h2 mat-dialog-title>Gallery</h2>
</div>

<mat-dialog-content class="mat-typography" style="background-color: #607d8b;">
  <div class="main-container">
    <div *ngFor="let imagen of this.imagenes">
      <mat-card class="example-card animate__animated animate__backInLeft" style="background-color: rgba(0, 0, 0, 0.4);">
        <mat-card-header class="mb-3">
          <mat-card-title style="color: rgba(255, 255, 255);">{{ imagen.article.title }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="imagen.url" alt="">
        <mat-card-content>
          <p style="color: rgba(255, 255, 255);">{{ imagen.caption }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-stroked-button (click)="onCaption(imagen.id)" matTooltip="add caption">
            <mat-icon style="color: rgba(255, 255, 255);">add_box</mat-icon>
          </button>
          <button mat-stroked-button color="warn" (click)="onDeleteImage(imagen.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
<div class="my-2" style="display: flex; justify-content: end;">
  <img class="image-thumbnail" style="max-width: 90px; max-height: 70px; border-radius: 5%;" [src]="miniatura"
    *ngIf="this.image">
</div>

<mat-dialog-actions align="end">
  <div class="custom-file mx-2">
    <input type="file" class="custom-file-input" id="customFile" (change)="handleImage($event)"
      style="visibility: hidden;">
    <a href=""><label class="custom-file-label" for="customFile" style="cursor: pointer;">select image</label></a>
  </div>
  <div>
    <button mat-button mat-stroked-button color="primary" (click)="onUpload()" matTooltip="upload image"
      matTooltipPosition="above">
      <!-- <i class="fa-solid fa-upload"></i> upload -->
      <mat-icon>upload</mat-icon>
    </button>
  </div>
  <div>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</mat-dialog-actions>