<div id="capa1" (click)="removeCapa()" (dblclick)="outMap()">
  <div #capa class="capa"></div>
  <div #map id="map">
    <mat-spinner *ngIf="!postActual"></mat-spinner>
  </div>
  <div #map2 id="map2"></div>
  <div #map3 id="map3"></div>
  <div id="message">{{ 'ClickMap' | translate }}</div>
</div>

<app-about></app-about>
<app-front-articles *ngIf="hideSection" [numbers1]="0" [numbers2]="4"></app-front-articles>
<app-front-articles *ngIf="hideSection" [numbers1]="4" [numbers2]="12"></app-front-articles>
<app-front-articles *ngIf="!hideSection" [numbers1]="0" [numbers2]="8"></app-front-articles>

<app-footer></app-footer>

