@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.container-about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 664px;
    margin-bottom: 10px;
    max-width: 1300px;
    padding: 0px 1% 10px;
    background: var(--accent);

    h2 {
        padding: 30px 0px;
        margin: 0px;
        text-align: center;
        font-size: 2.2rem;
        width: 100%;
        font-family: 'Libre Baskerville', serif;
        font-weight: 500;
        color: var(--lemon);
        font-weight: bold;
    }

    #text {
        width: 49%;
        padding: 50px 4% 10px 0%;
        margin-left: 1%;
        border-top: 1px solid var(--lemon);

        p {
            text-align: start;
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: var(--lemon);
        }

        div {
            margin: 60px auto 0px;

            .color-button {
                background: var(--lemon);
                box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
            }

            .color-button:hover {
                box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
            }
        }

        .color-button-blog {
            margin: 60px auto 0px;
            background: var(--lemon);
            box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
        }

        .color-button-blog:hover {
            box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
        }
    }

    #sky {
        background-size: cover;
        width: 50%;
        height: 340px;

    }
}

@media(max-width:900px) {
    .container-about {
        margin-top: 540px;

        #text {
            padding-top: 20px;

            p {
                text-align: center;
            }

            div {
                margin-top: 30px;
                display: flex;
                justify-content: center;

            }

            .color-button-blog {
                margin: 20px 40% 0px;
            }
        }



    }

}

@media(max-width: 697px) {
    .container-about {
        margin-top: 450px;
        height: auto;

        h2 {
            font-size: 1.8rem;
            padding: 10px 0px;
            margin: 15px;
            height: auto;
        }

        #text {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;

            p {
                font-size: 1.2rem;
                text-align: center;
            }

            div {
                display: flex;
                justify-content: center;

            }

            .color-button-blog {
                margin: 5px 40% 0px;
            }
        }

        #sky {
            background-size: cover;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 50px;          
        }
    }
}


@media(max-width: 400px) {
    .container-about {
        h2 {
            font-size: 1.4rem;
            margin: 15px;
        }
        #text {
            text-align: center;
            width: 100%;
            margin-bottom: 20px;

            p {
                font-size: 1.1rem;
                text-align: center;
            }

            div {
                display: flex;
                justify-content: center;
            }

            .color-button-blog {
                margin: 5px 40% 0px;
            }
        } 
       
    }
}