<div class="container-about shadow rounded">

    <div *ngIf="this.carouselPositionTop" id="sky" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">
        <div class="carousel-inner">
            <div *ngFor="let img of imgs; let i = index" id="sky" [class.active]="i === 0" class="carousel-item">
                <img [src]='img.url' [alt]="img.name" (click)="openModal(i)">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#sky" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#sky" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   
    <h2>{{ 'about.title' | translate }}</h2>
    
    <div id="text">
        <p [innerHTML]="'about.text' | translate"></p>
        <div *ngIf="this.tokenSvc.isLogged() === false; else logged">
            <button mat-raised-button class="color-button" (click)="openDialog()">{{ 'Login' | translate }}</button>
        </div>
        <ng-template #logged>
            <button mat-raised-button class="color-button-blog" routerLink="/blog/{{ this.tokenSvc.getUsername() }}">{{
                'Blog' | translate }}</button>
        </ng-template>
        
    </div>

    <div *ngIf="!this.carouselPositionTop" id="sky" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="1500">
        <div class="carousel-inner">
            <div *ngFor="let img of imgs; let i = index" id="sky" [class.active]="i === 0" class="carousel-item">
                <img [src]='img.url' [alt]="img.name" (click)="openModal(i)">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#sky" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#sky" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<app-carousel 
  *ngIf="isModalOpen" 
  [files]="imgs" 
  [indice]="indice" 
  (close)="closeModal()">
</app-carousel>