@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

img {
    // width: 200%;
    // height: auto;
}

.container-about {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 800px;
    // margin-bottom: 10px;
    // max-width: 1300px;
    padding: 0px 5% 25px;
    background: var(--accent);
   
    h2 {
        padding: 30px 0px;
        margin: 0px;
        text-align: center;
        font-size: 2.2rem;
        width: 100%;
        font-family: 'Libre Baskerville', serif;
        color: var(--lemon);
        font-weight: bold;
    }

    #text {
        width: 49%;
        padding: 30px 4% 10px 0%;
        margin-left: 1%;
        border-top: 1px solid var(--lemon);

        p {
            text-align: justify;
            font-size: 1.2rem;
            line-height: 1.8rem;
            color: var(--lemon);
        }

        div {
            margin: 40px auto 0px;

            .color-button {
                background: var(--lemon);
                box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
            }

            .color-button:hover {
                box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
            }
        }

        .color-button-blog {
            margin: 10px auto 0px;
            background: var(--lemon);
            box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
        }

        .color-button-blog:hover {
            box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
        }
    }

    #sky {
        background-size: cover;
        width: 50%;
    }
}

@media(max-width:930px) {
    .container-about {

        #text {
            padding-top: 20px;

            p {
                text-align: justify;
                font-size: 1.2rem;
                line-height: 1.6rem;
            }

            div {
                margin-top: 30px;
                display: flex;
                // justify-content: center;

            }

            .color-button-blog {
                margin: 20px 40% 0px;
            }
        }

    }

}

@media(max-width:770px) {
    .container-about {

        #text {
            padding-top: 20px;

            p {
                text-align: justify;
                font-size: 1.1rem;
                line-height: 1.6rem;
            }

            .color-button-blog {
                margin: 20px 40% 0px;
            }
        }

    }

}

@media(max-width: 700px) {
    .container-about {
        margin-top: 600px;
        padding: 0px 1% 10px;

        h2 {
            font-size: 1.8rem;
            padding: 10px 0px;
            margin: 15px;
            height: auto;
        }

        #text {
            // text-align: justify;
            width: 100%;
            margin-bottom: 20px;

            p {
                // font-size: 1rem;
                text-align: justify;
            }

            div {
                display: flex;
                justify-content: center;
            }


            .color-button-blog {
                margin: 5px 40% 0px;
            }
        }

        #sky {
            background-size: cover;
            width: 100%;
            margin-top: 10px;
            // margin-bottom: 20px;
        }
    }
}


@media(max-width: 650px) {
    .container-about {
        h2 {
            font-size: 1.6rem;
            margin: 15px;
        }

        #text {
            width: 100%;
            margin-bottom: 20px;

            p {
                // font-size: 1rem;
                text-align: justify;
            }

            div {
                display: flex;
                justify-content: center;
            }

            .color-button-blog {
                margin: 25px 40% 0px;
            }
        }

    }
}