@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  background-color: var(--cream);
  // margin-top: 85px;

  @media(max-width: 900px) {
    // margin-top: 80px;
  }

  @media(max-width: 500px) {
    // margin-top: 65px;
  }
}

button:hover {
  box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

.example-card {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: rgba(47, 47, 47, 1);
  color: var(--cream);
  font-family: 'Libre Baskerville', serif;

  .weather-icon {
    position: absolute;
    top: 65px;
    right: 20px;
    width: 100px;
    height: 100px;

    @media(max-width: 500px) {
      top: 40px;
      right: -10px;
      width: 75px;
      height: 75px;
    }
  }

  img {
    width: 100%;
    // height: auto;
    max-height: 750px;
    object-fit: cover;
    margin: 0px;
  }

  #img-caption {
    font-size: 1rem;
    font-style: italic;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    padding: 0 5px;
    margin-bottom: 25px;

    @media(max-width: 500px) {
      font-size: 0.8rem;
    }
  }
}

.title-post {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 20px;
  font-size: 1.8rem;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.009));

  @media(max-width: 500px) {
    padding: 70px 10px;
    font-size: 1.1rem;
  }
}

.temperature {
  position: absolute;
  top: 50px;
  right: 55px;
  padding: 50px 50px;
  font-size: 1.8rem;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  @media(max-width: 500px) {
    right: 40px;
    padding: 20px 17px;
    font-size: 1.1rem;
  }
}

mat-card-content {
  .autor {
    padding: 20px 15px 0px;
    display: flex;
    flex-direction: row;

    #autorLink {
      font-size: 1rem;
      display: flex;
      align-items: center;

      span {
        font-size: 1.1rem;
        cursor: pointer;
      }
    }

    #autorLink:hover {
      color: var(--lemon);
    }

    #editAutor {
      padding: 2px 5px;
    }
  }

  .title-content {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: var(--cream);

    @media(max-width:600px) {
      font-size: 1.4rem;
    }
  }

  hr {
    border: 0;
    border-top: 2px solid #ccc;
    border-top: 2px solid;
    margin: 0px 20px 20px 20px;
  }

  p {
    font-size: 1.1rem;
    padding: 0px 15px;
    display: block;
    overflow: auto;
    white-space: pre-line;

    @media(max-width:600px) {
      font-size: 1rem;
    }
  }
}