<!-- ARTICLE -->
<div class="main-container">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div class="example-header-image"></div>
        <mat-card-title>{{ post?.title }} - {{ this.temp }} ºC</mat-card-title>
      </mat-card-header>
      <div class="imageMarc">
        <img mat-card-image [src]="post?.imagenPortada" alt="{{ post?.alt1 }}">
      </div>
      <mat-card-content>
        <p id="footerImg">{{ post?.alt1 }}</p>
        <p>
          {{ post?.text1 }}
        </p>
      </mat-card-content>
      <app-articleGallery [articleId]="post?.id"></app-articleGallery>
      <mat-card-actions>
        <!-- <button mat-button (click)="showGallery(post?.id)">Show gallery</button>
        <button mat-button (click)="hideGallery()">Hide gallery</button> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<app-footer></app-footer>
