@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  background-color: var(--cream);
  margin-top: 82px;

  @media(max-width:500px) {
    margin-top: 72px;
  }
}

button {
  margin: 30px 0px 20px;
  box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
}

button:hover {
  box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

.example-card {
  max-width: 1000px;
  margin: 20px auto 100px;
  background-color: rgba(47, 47, 47, 1);
  color: white;
  padding: 0px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px 6px #888888;

  @media(max-width: 600px) {
    width: 100%;
  }

  .header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-start;
  }

  #title-post {
    font-size: 1.6rem;
    font-family: 'Libre Baskerville', serif;
    padding: 10px 10px 20px 15px;
    line-height: 2rem;
    height: auto;
  }

  .temperature {
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', serif;
    padding: 10px 0px 20px 15px;
    line-height: 2rem;
    height: auto;

  }

  .weather-icon {
    width: fit-content;
    // max-width: 100%;
    width: 50%;
    height: 50%;
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
    margin: 0px;
  }

  #footerImg {
    font-size: .8rem;
    padding: 10px;
    margin: 0px;
  }
}

mat-card-content {
  .autor {
    padding: 20px 15px 0px;
    display: flex;
    flex-direction: row;

    #autorLink {
      font-size: 1rem;
      display: flex;
      align-items: center;

      span {
        font-size: 1.1rem;
        font-family: 'Libre Baskerville', serif;
        cursor: pointer;
      }
    }

    #autorLink:hover {
      color: var(--lemon);
    }

    #editAutor {
      padding: 2px 5px;
    }
  }

  p {
    font-size: 1.1rem;
    padding: 0px 15px;
    display: block;
    overflow: auto;
    white-space: pre-line;

    @media(max-width:600px) {
      font-size: 1rem;
    }
  }
}