<h1 style="text-align: center;">{{ 'Gallery' | translate }}</h1>
<div style="display: flex; justify-content: center">
	<div>
		<button mat-button (click)="showGallery()">
			<mat-icon>visibility</mat-icon> {{ 'Show' | translate }}
		</button>
	</div>
	<div>
		<button mat-button (click)="hideGallery()">
			<mat-icon>visibility_off</mat-icon> {{ "Hide" | translate }}
		</button>
	</div>
</div>

<!-- IMAGES & VIDEOS-->
<div class="main-container">

	<!-- VIDEOS -->
	<div *ngFor="let video of (this.videos$ | async); let i = index"
		[attr.data-aos]="i % 2 === 0 ? 'fade-right' : 'fade-left'" data-aos-duration="1000">

		<!-- https://animate.style/ -->
		<mat-card class="example-card">
			<mat-card-header>

			</mat-card-header>
			<youtube-player [videoId]="video.youtubeId" [playerVars]="this.playerVars" suggestedQuality="highres"
				showBeforeIframeApiLoads="true" [width]="260">
			</youtube-player>

			<mat-card-content>

			</mat-card-content>
		</mat-card>

	</div>

	<!-- IMAGES -->
	<div *ngFor="let imagen of (this.imagenes$ | async); let i = index"
		[attr.data-aos]="i % 2 === 0 ? 'fade-right' : 'fade-left'" data-aos-duration="1000">

		<mat-card class="example-card">
			<mat-card-header>

			</mat-card-header>
			<a type="button" matTooltip="Preview" matTooltipPosition="above" data-bs-toggle="modal"
				data-bs-target="#exampleModal" style="cursor: pointer;" (click)="getIndex(i)">
				<img *ngIf="imagen.fileType =='image'" mat-card-image [src]="imagen.url" alt="">
			</a>
			<video *ngIf="imagen.fileType =='video'" mat-card-image
				width="215"
				[src]="imagen.url"
				title="video"
				controls>
			</video>

			<mat-card-content>

				<p style="color: white;">{{ imagen.caption }}</p>
			</mat-card-content>
			<mat-card-actions align="start">

			</mat-card-actions>
		</mat-card>

	</div>

</div>

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
	style="padding: 0px;" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-xl">
		<div class="modal-content" style="background-color: rgba(47, 47, 47, 1); border: none;">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{{ '' }}</h5>
				<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"
					(click)="hideGallery()"></button>
			</div>
			<div class="modal-body">
				<!-- CAROUSEL -->
				<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item" data-bs-interval="2000"
							*ngFor="let imagen of (this.imagenes$ | async); index as i; count as items"
							[ngClass]="{'active': i == this.indice, '': i != this.indice}">
							<img [src]="imagen.url" class="d-block w-100" alt="...">
							<div class="carousel-caption d-none d-md-block">
								<h2 class="m-0"><strong>{{ imagen.caption }}</strong></h2>
								<p class="m-0">image {{ i + 1 }} of {{ items }}</p>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>