.youtube-card {
  max-width: 290px;
  background-color: rgba(255, 255, 255, 0.09);
  box-shadow: 3px 3px 3px 3px black;
}

.youtube-card:hover {
  transform: scale(1.02);
}

h1 {
  font-size: 1.5rem;
  margin: 30px 0 10px 0;
}

// https://www.youtube.com/watch?v=XdrRF4rMXkA&list=PLNGy7jWL6QFmTmS8azq1HRa1FIXFwRI95&index=1
.main-container {
  padding: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container>div {
  margin: 10px;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 16px;
}

.card-title {
  padding: 12px;
  font-size: 16px;
  color: white;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.09);
  box-shadow: 3px 3px 3px 3px black;
}

.card-image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.video-preview {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #000;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 8px;

}

.card-actions button {
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  color: var(--lemon);
}

/* Estilo para el Modal */
.modal {
  background-color: rgba(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  position: relative;
  max-width: 800px;
  width: 90%;
  background: rgba(255, 255, 255, 0.09);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Botón adicional para cerrar el modal */
.close-modal-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.close-modal-btn:hover {
  background-color: #0056b3;
}

/* Estilo para el Carousel */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-image {
  max-width: 90%;
  max-height: 80vh; // Limita la altura de la imagen al 80% del alto de la ventana
  object-fit: contain;
  margin: auto;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.carousel-image.zoom {
  transform: scale(1.7);
  /* Escala la imagen al 170% */
}

.carousel-control {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #525456;
  transform: translateY(-50%);
  user-select: none;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}
