<h1 style="text-align: center;">{{ 'Gallery' | translate }} ({{ this.imagenes.length + this.videos.length }})</h1>

<div class="main-container">
	<!-- https://animate.style/ -->
	<div class="card-container">
		<div class="card" *ngFor="let imagen of imagenes; index as i"
			[attr.data-aos]="i % 2 === 0 ? 'fade-right' : 'fade-left'" data-aos-duration="1000">
			<div class="card-title">
				<ng-container *ngIf="imagen.caption; else noCaption">
					<span *ngIf="imagen.coverImg">{{ "CoverImage" | translate }}</span>
					<span *ngIf="!imagen.coverImg">{{ imagen.caption }}</span>
				</ng-container>
				<ng-template #noCaption>{{ 'noTitle' | translate }}</ng-template>
			</div>
			<div class="card-image">
				<img *ngIf="imagen.fileType =='image'" [src]="imagen.url" (click)="openModal(i)"
					alt="{{ imagen.caption }}">
				<video class="video-preview" *ngIf="imagen.fileType =='video'" [src]="imagen.url" controls></video>
			</div>
			<div class="card-actions">
				<button mat-stroked-button (click)="openModal(i)">
					<mat-icon *ngIf="imagen.fileType == 'image'">visibility</mat-icon>
					<mat-icon *ngIf="imagen.fileType == 'video'">visibility_off</mat-icon>
				</button>
				<ng-container *ngIf="username == tokenSvc.getUsername() || tokenSvc.isAdmin()">
					<button [style.color]="imagen.coverImg ? 'gray': 'var(--lemon)'"
						[matTooltip]="imagen.coverImg ? '' : ('Add' | translate) + ' ' + ('Caption' | translate | lowercase)"
						mat-stroked-button (click)="onCaption(imagen.id)" [disabled]="imagen.coverImg">
						<mat-icon>edit</mat-icon>
					</button>
					<button class="delete-btn" mat-stroked-button (click)="onDeleteImage(imagen.id)"
						[disabled]="imagen.coverImg">
						<mat-icon [style.color]="imagen.coverImg ? 'gray': 'rgb(255, 71, 71)'">delete</mat-icon>
					</button>
				</ng-container>
			</div>
		</div>
	</div>

	<div *ngFor="let video of this.videos; let i = index" [attr.data-aos]="i % 2 === 0 ? 'fade-right' : 'fade-left'"
		data-aos-duration="1000">

		<mat-card class="youtube-card">

			<mat-card-header>
				<!-- <mat-card-title style="color: rgba(255, 255, 255);">{{ i + 1 }}</mat-card-title> -->
			</mat-card-header>

			<mat-card-content>
				<youtube-player [videoId]="video.youtubeId" [playerVars]="this.playerVars" suggestedQuality="highres"
					showBeforeIframeApiLoads="true" [width]="260">
				</youtube-player>
			</mat-card-content>
			<mat-card-actions *ngIf="username == tokenSvc.getUsername() || tokenSvc.isAdmin()" align="end">
				<button class="delete-btn" mat-stroked-button (click)="onDeleteYoutube(video.id)">
					<mat-icon style="color: rgb(255, 71, 71)">delete</mat-icon>
				</button>
			</mat-card-actions>

		</mat-card>

	</div>
</div>

<div class="modal" [class.active]="isModalOpen">
	<button class="close" mat-stroked-button (click)="closeCarousel()">
		<mat-icon>close</mat-icon>
	</button>
	<div class="modal-content">
		<div class="carousel">
			<button class="carousel-control prev" (click)="prevImage()" [disabled]="indice === 0">
				<mat-icon>arrow_back</mat-icon>
				<!-- &#10094; -->
			</button>
			<div class="carousel-track" [style.transform]="getTransform()">
				<img *ngFor="let url of urlmages" 
					[src]="url" class="carousel-image" 
					alt="Carousel Image"
					[ngClass]="{'cursor-none': indice === urlmages.length - 1}"  
					(click)="indice < urlmages.length - 1 && nextImage()">
			</div>
			<button class="carousel-control next" (click)="nextImage()" [disabled]="indice === urlmages.length - 1">
				<mat-icon>arrow_forward</mat-icon>
				<!-- &#10095; -->
			</button>
		</div>
	</div>
</div>