.example-card {
  max-width: 290px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

// https://www.youtube.com/watch?v=XdrRF4rMXkA&list=PLNGy7jWL6QFmTmS8azq1HRa1FIXFwRI95&index=1
.main-container {
  padding: 20px;
  // border: 10px solid gray;
  // background-color: rgb(126, 234, 253);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container>div {
  margin: 10px;
  padding: 20px;
}

img {
  height: 200px;
}

.carousel,
.carousel-inner>.carousel-item>img {
  height: 650px;
}

@media (max-width: 1200px) {
  .container>img {
    width: 100%;
    height: 350px;
  }

  .carousel,
  .carousel-inner>.carousel-item>img {
    height: 350px;
  }
}

@media (max-width: 500px) {
  .container>img {
    width: 100%;
    height: 150px;
  }

  .carousel,
  .carousel-inner>.carousel-item>img {
    height: 230px;
  }

}