h3 {
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
}

button {
    background: var(--primary);
    color: white;
    width: 100%;
}

form>div {
    padding-top: 30px;
    font-size: .9rem;
    text-align: center;
    color: var(--warnOrange);
    cursor: pointer;

}

form>div:hover {
    text-decoration: underline;
}

.mat-form-field {
    width: 100%;
}

.container {
    padding: 20px;
    width: 280px;
    // border: 10px solid gray;
    // background-color: rgb(126, 234, 253);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 400px) {
    .container {
        width: 220px;
    }
}