<div class="container">
  <form [formGroup]="this.emailForm" (ngSubmit)="onSubmit(emailForm.value)">
    <h3>Forgot your password?</h3>
    <p style="text-align: center; padding: 10px;">Enter the email address or username you use in this application. We will send you a link to reset your password.</p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Email or username</mat-label>
        <input matInput placeholder="email or username" formControlName="emailTo" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
    </p>
    <button type="submit" mat-raised-button>Reset password</button>
  </form>

</div>