h3 {
    color: var(--accent);
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
}

button {
    background: var(--accent);
    color: var(--lemon);
    width: 100%;
    height: 45px;
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
}

button:hover {
    background: var(--accent);
    color: var(--lemon);
    width: 100%;
    box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

p {
    color: var(--accent);
    text-align: center; 
    padding: 10px;
}

form>div {
    padding-top: 30px;
    font-size: .9rem;
    text-align: center;
    color: var(--warnOrange);
    cursor: pointer;

}

form>div:hover {
    text-decoration: underline;
}

// .mat-form-field {
//     width: 100%;
// }

input {
    width: 100%;
}

.container {
    padding: 20px;
    width: 280px;
    // border: 10px solid gray;
    // background-color: azure;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 400px) {
    .container {
        width: 220px;
    }
}

