.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 270px;
    text-align: center;
    padding: 5px;
}

h3 {
    color: var(--accent);
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;

}

.input-witdh {
    width: 100%;
}

button {
    background: var(--accent);
    color: var(--lemon);
    height: 45px;
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
    display: block;
    margin: 10px auto 0px auto;
}

button:hover {
    box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

p {
    color: var(--accent);
    padding: 10px;
}

