<div *ngIf="uploading" class="overlay">
  <div class="spinner-modal">
    <div class="spinner"></div>
    <div>{{ 'crud.article-card.uploading-icon-tool-tip' | translate }}</div>
  </div>
</div>

<div class="body">
  <div class="container">
    <form [formGroup]="this.emailForm" (ngSubmit)="onSubmit(emailForm.value)">
      <h3>{{ 'Forgot' | translate }}</h3>
      <p>{{ 'TextPassword' | translate }}</p>
      
        <mat-form-field class="input-witdh" appearance="fill">
          <mat-label>{{ 'UsernameOrEmail' | translate }}</mat-label>
          <input matInput placeholder="{{ 'UsernameOrEmail' | translate }}" formControlName="emailTo" required>
        </mat-form-field>
      
      <button type="submit" mat-raised-button class="input-witdh">{{ 'ResetPassword' | translate }}</button>
    </form>
  </div>
</div>
