<div class="container">
  <form [formGroup]="this.emailForm" (ngSubmit)="onSubmit(emailForm.value)">
    <h3>{{ 'Forgot' | translate }}</h3>
    <p style="text-align: center; padding: 10px;">{{ 'TextPassword' | translate }}</p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'UsernameOrEmail' | translate }}</mat-label>
        <input matInput placeholder="{{ 'UsernameOrEmail' | translate }}" formControlName="emailTo" required>
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
    </p>
    <button type="submit" mat-raised-button>{{ 'ResetPassword' | translate }}</button>
  </form>
</div>