h3 {
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
}

button {
    background: var(--primary);
    color: white;
    width: 100%;
}

form>div {
    padding-top: 30px;
    font-size: .9rem;
    text-align: center;
    color: var(--warnOrange);
    cursor: pointer;

}

form>div:hover {
    text-decoration: underline;
}

// .container {
//     padding: 20px;
//     width: 200px;
//     // border: 10px solid gray;
//     // background-color: rgb(126, 234, 253);
//     height: auto;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
// }

.container {
    width: 300px;
    -webkit-box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 24px;
    border-radius: 8px;
    margin: 0 auto;
}