<div class="container animate__animated animate__backInLeft" style="margin-top: 50px;">
  <form [formGroup]="this.imageForm" (ngSubmit)="onSubmit(imageForm.value)">
    <h3>Add new image</h3>

    <div class="containerFile">
      <label>Picture</label><br>
      <div *ngIf="this.image" style="margin-top: 5px;">

        <div>
          <img class="image-thumbnail" style="max-width: 100px; border-radius: 5%;" [src]="miniatura" alt="">
        </div>
      </div>
      <input type="file" accept=".png, .jpg, .jpeg" multiple id="inputUpload" formControlName="image"
        (change)="handleImage($event)">
      <label for="inputUpload">Foto <mat-icon>backup</mat-icon></label>
    </div>
    <button type="submit" mat-raised-button>Add image</button>
  </form>
</div>