<div *ngIf="uploading" class="overlay">
  <div class="spinner-modal">
    <div class="spinner"></div>
    <div>{{ 'crud.article-card.uploading-icon-tool-tip' | translate }}</div>
  </div>
</div>

<div class="header">
  <div></div>
  <div>
    <h2 mat-dialog-title>{{ 'Gallery' | translate }}</h2>
  </div>
  <div>
    <mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon>
  </div>
</div>

<mat-dialog-content class="mat-typography" style="background-color: #607d8b;">
  <h1 class="mt-4 mb-0" style="text-align: center; color: rgba(255, 255, 255);">{{ this.imagenes.length }} {{
    'crud.image-list.images' | translate }} {{ this.article.title }}</h1>
  <div class="main-container">
    <div *ngFor="let imagen of this.imagenes; index as i">

      <mat-card class="example-card animate__animated animate__backInLeft"
        style="background-color: rgba(0, 0, 0, 0.4);">

        <mat-card-header [ngClass]="{'mb-3': imagen.fileType === 'image'}">
          <mat-card-title style="color: rgba(255, 255, 255);">{{ i + 1 }}<span *ngIf="imagen.coverImg"> {{ "CoverImage" | translate }}</span></mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <img *ngIf="imagen.fileType =='image'" mat-card-image [src]="imagen.url" [alt]="imagen.url">
          <video *ngIf="imagen.fileType =='video'"
          width="250"
          height=""
          [src]="imagen.url"
          title="video"
          controls>
        </video>
          <p style="color: rgba(255, 255, 255);">{{ imagen.caption }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button class="caption-btn" mat-stroked-button (click)="onCaption(imagen.id)" matTooltip="{{ 'Add' | translate }} {{ 'Caption' | translate | lowercase}}">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-btn" mat-stroked-button (click)="onDeleteImage(imagen.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="input-div mx-1 p-1">{{ 'crud.article-card.upload-icon-tool-tip' | translate }}: </div>
  <div class="input-div mx-1 p-1 shadow-sm">
    <input type="file" class="file-input" accept="image/*" id="customImage" (change)="handleImage($event)">
    <label class="file-label" for="customImage" matTooltip="max 10MB">{{ 'SelectImage' | translate }}</label>
  </div>
  <!-- VIDEO INPUT -->
  <div class="input-div mx-1 p-1 shadow-sm">
    <input type="file" class="file-input" accept="video/*" id="customVideo" (change)="handleImage($event)">
    <label class="file-label" for="customVideo" matTooltip="max 100MB">{{ 'SelectVideo' | translate }}</label>
  </div>
</mat-dialog-actions>
