<div class="header">
  <div></div>

  <div>
    <h2 mat-dialog-title>{{ 'Gallery' | translate }}</h2>
  </div>
  <div>
    <mat-icon mat-button mat-dialog-close class="close-btn">close</mat-icon>
  </div>

</div>

<mat-dialog-content class="mat-typography" style="background-color: #607d8b;">
  <h1 class="mt-4 mb-0" style="text-align: center; color: rgba(255, 255, 255);">{{ this.imagenes.length }} {{
    'crud.image-list.images' | translate }} {{ this.article.title }}</h1>
  <div class="main-container">
    <div *ngFor="let imagen of this.imagenes; index as i">
      <mat-card class="example-card animate__animated animate__backInLeft"
        style="background-color: rgba(0, 0, 0, 0.4);">
        <mat-card-header class="mb-3">
          <mat-card-title style="color: rgba(255, 255, 255);">{{ i + 1 }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="imagen.url" alt="image">
        <mat-card-content>
          <p style="color: rgba(255, 255, 255);">{{ imagen.caption }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button class="caption-btn" mat-stroked-button (click)="onCaption(imagen.id)" matTooltip="add caption">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-btn" mat-stroked-button (click)="onDeleteImage(imagen.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">

  <div class="input-div mx-1 p-1 shadow-sm">
    <input type="file" class="file-input" id="customFile" (change)="handleImage($event)">
    <label class="file-label" for="customFile" matTooltip="max 5MB">{{ 'SelectImage' | translate }}</label>
  </div>
  <div class="mx-1">
    <img *ngIf="this.image" class="thumbnail" [src]="miniatura" alt="">
  </div>
  <div class="upload-icon p-1 shadow-sm">
    <mat-icon class="upload-icon" mat-button mat-stroked-button (click)="onUpload()" matTooltip="upload image"
      matTooltipPosition="above">upload</mat-icon>
  </div>

</mat-dialog-actions>