<div class="container-articles">
  <h1>{{ 'front-articles.last-articles' | translate }}</h1>

  <section class="main-container shadow-lg rounded">
    <article *ngFor="let article of this.articles | slice: numbers1 : numbers2" data-aos="fade-up" data-aos-duration="1000">
      <div class="example-card">
        <div>
          <a (click)="onClick(article.id)">
            <h3 style="color: rgba(255, 255, 255);">{{ article.title }}</h3>
          </a>
        </div>
        <a routerLink="/article/{{ article.id }}" style="cursor: pointer;">
          <img [src]="article.imagenPortada" alt="{{ article.alt1 }}"
            title="{{ 'user-blog.goto-article' | translate }}">
        </a>
        <div id="content">

          <p>{{ 'Author' | translate }}: &nbsp;<span routerLink="/blog/{{ article.usuario.nombreUsuario }}">{{
              article.usuario.nombreUsuario
              }}</span></p>
        </div>

      </div>

    </article>
  </section>
</div>