.container-articles{
    background-color: white;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 664px;
    z-index: 1;
    padding: 80px 20px;
}
h1{
    padding-top: 10px;
    text-align: center; 
}
.example-card {
    width: 100%;
    //height: 260px;
    border: 1px solid rgb(220, 220, 220);
    div{
        height: 60px;
    }
    div>h3{
        font-size: .9rem;
        text-align: center;
        margin:5px 0px;
    }
    a{
        width: 100%;
        height: 160px;
        display: inline-block;
    }
    img{
        overflow: hidden;
        background-size:cover;
        height:160px;
        width: 100%;
        margin-bottom: 0px;
    }
}
.mat-card-header-text{
    margin: 0px 4px;
}

#content{
    padding: 2% ;
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        width:20%;
        height: 45px;
        border-radius: 50%;
        float:left;
    }
    p{
        width:76%;
        display:flex;
        justify-content: center;
        padding: 8px 0px;
        margin: 0px;
        font-size: .8rem;
    }
}

// https://www.youtube.com/watch?v=XdrRF4rMXkA&list=PLNGy7jWL6QFmTmS8azq1HRa1FIXFwRI95&index=1
.main-container {
    padding: 20px;
    // border: 10px solid gray;
    // background-color: rgb(126, 234, 253);
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-container>article {
    width: 23%;
    margin: 30px 1%;
    padding: 0px;
}
/* .mat-card{
    height: 300px;
    padding: 0px;
}
.mat-card-image {
    padding-top: 20px;
} */
