<div class="container-articles">
  <h1>Last Posts</h1>
  <ng-container *ngFor="let imagen of this.imagenes">
    <img [src]="imagen.url" alt="">
  </ng-container>

  <section class="main-container">
    <article *ngFor="let article of this.articles | slice:0:8">

      <div class="example-card">
        <div>
          <h3>{{ article.title }}</h3>
        </div>
        <a (click)="onClick(article.id)" style="cursor: pointer;" matTooltip="go to post" matTooltipPosition="above">
          <img [src]="article.imagenPortada" alt="{{ article.alt1 }}">
        </a>
        <div id="content">
          <div class="example-header-image"></div>
          <p>{{ article.alt1 }}</p>
        </div>
       <!--  <mat-card-actions>
          <button mat-button (click)="onImgs(article.id)">img</button>
        </mat-card-actions> -->
      </div>

    </article>
  </section>
</div>
