.container-articles{
    background-color: white;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 664px;
    z-index: 1;
    padding: 120px 20px;
}
h1{
    padding-top: 10px;
    text-align: center; 
}
.example-card {
    width: 100%;
    border: 1px solid rgb(220, 220, 220);
    div{
        height: 60px;
    }
    div h3{
        font-size: .9rem;
        text-align: center;
        margin:5px 0px;
        cursor: pointer;
    }
    a{
        width: 100%;
        height: 180px;
        display: inline-block;
    }
    img{
        overflow: hidden;
        background-size:cover;
        height:160px;
        width: 100%;
        margin-bottom: 0px;
    }
}
.mat-card-header-text{
    margin: 0px 4px;
}

#content{
    padding: 2% ;
    .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
        width:20%;
        height: 45px;
        border-radius: 50%;
        float:left;
    }
    p{
        width:76%;
        display:flex;
        justify-content: center;
        padding: 8px 0px;
        margin: 0px;
        font-size: .8rem;
        span{
            cursor:pointer;
            font-size: .9rem;
            font-weight: 500;
        }
    }
    img{
        cursor: pointer;
    }
}

// https://www.youtube.com/watch?v=XdrRF4rMXkA&list=PLNGy7jWL6QFmTmS8azq1HRa1FIXFwRI95&index=1
.main-container {
    padding: 20px;
    max-width: 1300px;
    margin: 0px auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        cursor: pointer;
    }
}

.main-container>article {
    width: 23%;
    margin: 80px 1%;
    padding: 0px;
}
@media(max-width: 900px){
    .container-articles{
        margin-top: 540px;
    }
    .main-container{
        width: 100%;
        padding: 20px 0px;
        margin: 0px;
        height: 1100px;
        overflow-y: hidden;
        article{
            width: 46%;
            margin: 30px 2%; 
        }
    }
}
@media(max-width: 500px){
    .container-articles{
        padding: 22px;
        margin-top: 300px;
        @media(max-width: 350px){
            margin-top: 200px;
            padding: 22px 0px;
        }
    }
    .main-container{
        height: 1950px;
        width:80%;
        margin: 0px 10%;
        @media(max-width: 350px){
            width:100%;
            margin: 0px;
        }
        article{
            width:94%;
            margin: 10px 3%;
        }
    }
}
