<div class="container-articles">
  <h1>{{ 'front-articles.last-articles' | translate }}</h1>
  <!-- Paginator -->
  <mat-paginator [length]="articles.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page" showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
  <!-- Sort selector -->
  <div class="container" style="display: flex; justify-content: center; margin-top: 20px;">
    <app-sort-selector (selectedOption)="onSortBy($event)"></app-sort-selector>
  </div>

  <section class="main-container shadow rounded">
    <article *ngFor="let article of this.articles | paginate:pageSize:pageNumber; index as i" data-aos="fade-up"
      data-aos-duration="1000">
      <div class="example-card">
        <div>
          <a (click)="onClick(article.id)">
            <h3 style="color: rgba(255, 255, 255);">{{ article.title }}</h3>
          </a>
        </div>
        <a routerLink="/article/{{ article.id }}" style="cursor: pointer;">
          <img [src]="article.imagenPortada" alt="{{ article.caption }}"
            title="{{ 'user-blog.goto-article' | translate }}">
        </a>
        <div id="content">

          <p>{{ 'Author' | translate }}: &nbsp;<span routerLink="/blog/{{ article.usuario.nombreUsuario }}">{{
              article.usuario.nombreUsuario
              }}</span></p>
        </div>

      </div>

    </article>
  </section>
</div>