form {
    padding: 0px 15px;
    width: 280px
}

h3 {
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
}

button {
    background: var(--primary);
    color: white;
    width: 100%;
}

form>div {
    padding: 40px 20px 0px 20px;
    font-size: .8rem;
    text-align: center;
}

form span {
    color: var(--warnOrange);
    cursor: pointer;
}

form span:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: .8rem;
}

.mat-form-field {
    width: 100%;
}
@media(max-width: 400px){
    form{
        padding: 0px;
        width: 220px;
        @media(max-width: 220px){
            width:140px;
        }
        div{
            padding: 20px 10px 0px 10px;
        }
    }
}
