<form [formGroup]="this.loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <h3>Login</h3>
    <p>
    <mat-form-field appearance="fill">
      <mat-label>User Name or Email</mat-label>
      <input matInput placeholder="User Name" formControlName="nombreUsuario" required>
    </mat-form-field>
    </p>

    <p>
    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
    </mat-form-field>
    </p>

    <button mat-raised-button>LogIn</button>

    <div (click)="signupOpen()">Create an account</div>
</form>