<div class="container">
    <h1><mat-icon>help</mat-icon> {{ 'info.help' | translate }}</h1>
    <h3><a href="https://youtu.be/wbO_Ob-jusU" target="__blank">1. {{ 'info.account' | translate }}</a></h3>
    <h3><a href="https://youtu.be/hJzJbr3DPVo" target="__blank">2. {{ 'info.pass' | translate }}</a></h3>
    <h3><a href="https://youtu.be/0pgpZ6qckz8" target="__blank">3. {{ 'info.create' | translate }}</a></h3>
    <h3><a href="https://youtu.be/evuqmzVOqU0" target="__blank">4. {{ 'info.update' | translate }}</a></h3>
    <h3><a href="https://youtu.be/LN6JTXRHhDE" target="__blank">5. {{ 'info.add' | translate }}</a></h3>
    <h3><a href="https://youtu.be/xyYqcp0c5Q8" target="__blank">6. {{ 'info.delete' | translate }}</a></h3>
</div>
