<body class="">
  <div class="container mb-5" style="margin-top: 50px;">
    <form [formGroup]="this.resetForm" (ngSubmit)="onSubmit(resetForm.value)">
      <h3>{{ 'ResetPass' | translate }}</h3>
      <p>{{ 'ChangePass' | translate }}: <strong>{{ this.user?.email }}</strong></p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'NewPass' | translate }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword">
          <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
          <div class="error" *ngIf="resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.hasError('required')">
            {{ 'Required' | translate }}
          </div>
          <div class="error" *ngIf="resetForm.get('newPassword')?.touched && resetForm.get('newPassword')?.hasError('pattern')">
            {{ 'auth.reset-pass.pass-length' | translate }}
          </div>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'ConfirmPass' | translate }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
          <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </div>
          <div class="error" *ngIf="resetForm.get('confirmPassword')?.touched && resetForm.get('confirmPassword')?.hasError('required')">
            {{ 'Required' | translate }}
          </div>
          <div class="error" *ngIf="resetForm?.hasError('passwordsMustBeEqual')">
            {{ 'auth.reset-pass.no-match' | translate }}
          </div>
        </mat-form-field>
      </p>
      <button mat-raised-button [disabled]="resetForm.invalid">{{ 'ConfirmChangePass' | translate }}</button>
    </form>
  </div>
</body>

<app-footer></app-footer>