<app-header></app-header>

<div class="container" style="margin-top: 50px;">
    <form [formGroup]="this.loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <h3>Reset your password</h3>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" required>
                <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Confirm New Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
                <div mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </div>
            </mat-form-field>
        </p>
        <button mat-raised-button>Change Password</button>
    </form>
</div>