<form class="example-form" (submit)="submitArticle()">
  <div class="example1" appearance="fill">
    <input type="text"
            placeholder="{{ 'SearchArticle' | translate }}"
            aria-label="Number"
            matInput
            id="myControl"
            [formControl]="myControl"
            [matAutocomplete]="auto"
            fontIcon="search">
            <!-- <button mat-stroked-button id="searchButton">
              <mat-icon>search</mat-icon>
            </button> -->
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <p (click)="selectArticle(option)">{{option}}</p>
      </mat-option>
    </mat-autocomplete>
  </div>
</form>

<!-- Button to open/hide input of mobile format -->
<!-- <button id="searchHideButton" (click)="openSelect()" mat-stroked-button>
  <mat-icon>search</mat-icon>
</button> -->

<!-- Form of mobile format -->
<!-- <form  #hideForm class="responsive-form" (submit)="selectArticle()">
  <div class="responsive-div" appearance="fill">
    <input type="text"
            placeholder="{{ 'SearchArticle' | translate }}"
            aria-label="Number"
            matInput
            id="myControl"
            [formControl]="myControl"
            [matAutocomplete]="auto"
            fontIcon="search">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </div>
</form> -->