.example-form{
    margin: 10px auto;
    width: 300px;
    @media(max-width: 600px){
        display: none;
    }
}
.example1{
    width: 260px;
    padding: 0px;
    @media(max-width:1200px){
        margin: 10px 34%;
    }
    @media(max-width:900px){
        margin: 10px 22%;
        width: 230px;
    }
}
input{
    width:96%;
    height: 35px;
    padding: 0px .5rem;
    font-size: 1rem;
    border: 0px;
    border-radius: 5px;
    box-shadow:0px 0px 0px 2px inset #69F0AE;
    color: black;
    font-weight: 400;
    background-color: white;
    transition: all .2s;
    margin-left: 2%;
    vertical-align: middle;
}
input:focus{
    background-color: #fbfdf1;
    outline: 3px solid #C6FF00;
    box-shadow: none;
    width: 100%;
    margin: 0px;
}
#searchButton, #searchHideButton{
    margin-left: 6px;
}
#searchHideButton, .responsive-form{
    display: none;
}
.responsive-form{
    margin: 10px auto;
    width: 300px;
}
@media(max-width: 600px){
    #searchHideButton, .responsive-form{
        display: block;
    }
    #searchHideButton{
        position: relative;
        top: 0px;
        cursor: pointer;
        width: 100px;
        border: 1px solid rgb(15, 222, 15);
    }
    #searchHideButton:hover{
        color: rgb(113, 255, 0);
        background-color: #5a7684;
    }
    .responsive-div{
        position: relative;
        top: 24px;
        left: 0px;
        width:410px;
        height: 80px;
        background-color: rgba(109, 139, 167, 0.404);
    }
    .responsive-form{
        position: absolute;
        top: 10px;
        left: 20px;
        height:0px;
    }
    input{
        position: absolute;
        top: 20px;
        left: 8px;
        width:380px;
    }
    input:focus{
        position: absolute;
        left: 10px;
        width: 390px;
        margin-left:0px;
    }
}
