.example-form{
    margin: 10px auto;
    width: 300px;
    @media(max-width:1200px){
        margin: 10px 34%;
    }
    @media(max-width:800px){
        margin: 10px 28%;
    }
    @media(max-width: 600px){
        margin: 10px 20%;
    }
}
.example1{
    width: 260px;
    padding: 0px;
}
input{
    width:96%;
    height: 35px;
    padding: 0px .5rem;
    font-size: 1rem;
    border: 0px;
    border-radius: 5px;
    box-shadow:0px 0px 0px 2px inset #69F0AE;
    color: black;
    font-weight: 500;
    background-color: white;
    transition: all .2s;
    margin-left: 2%;
    vertical-align: middle;
}
input:focus{
    background-color: #fbfdf1;
    outline: 3px solid #C6FF00;
    box-shadow: none;
    width: 100%;
    margin: 0px 3px 0px 0px;
}
#searchButton{
    margin-left: 6px;
    
}
