#toList{
  display: none;
  @media(max-width: 800px){
    position: absolute;
    top:14px;
    left: 36%;
    display: block;
  }
  @media(max-width: 450px){
    position: absolute;
    top:14px;
    left: 36%;
    display: block;
  }
}
.container{
  position: absolute;
  top: 74px;
  left:69%;
  width:30%;
  margin: 0px;
  @media(max-width: 800px){
    left:0px;
    width:90%;
    background-color: white;
    margin: 0px 5%;
  }
}
.inside{
  height: 100vh;
  overflow-y: hidden;
  @media(max-width: 800px){
    height: 0px;
  }
  @media(min-width: 800px){
    height: 100vh !important;
  }
}
h3{
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 15px;
  @media(max-width: 800px){
    text-align: start;
    z-index: 2;
    font-size: 1rem;
    background-color: white;
  }
}
table {
  width: 100%;
  background-color: Gainsboro;
} 
mat-form-field mat-label{
  font-size: 14pt;
  //color: rgba(30,40,180,1);
}
.mat-form-field {
  padding: 0px 3%;
  font-size: 14px;
  width: 94%;
  background: rgba(240,240,240, 1);;
}
mat-paginator{
  width:100%;
}
.estilsArt{
  cursor: pointer;
  transition: all 0.4s;
}
.estilsArt:hover {
  color: MediumSpringGreen;
  background-color: dimgray;
}
button{
  background-color: rgba(230,230,230, 1);
}