.container {
  height: 900px;
  margin: 0px;

  @media(max-width: 800px) {
    left: 0px;
    min-width: 90%;
    background-color: white;
    margin: 0px 5%;
  }

  @media(max-width: 420px) {
    left: 0px;
    min-width: 100%;
    background-color: white;
    margin: 0px;

    td.mat-cell:first-of-type {
      padding-left: 10px;
    }

    td.mat-cell:last-of-type {
      padding-right: 1px;
    }
  }
}

.filter-sort-container {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.inside {
  height: 100vh;
}

h3 {
  text-align: center;
  margin: 30px 0px 10px 0px;
  font-size: 1.4rem;
}

table {
  width: 100%;
  background-color: Gainsboro;
}

mat-form-field mat-label {
  font-size: 11pt;
}

mat-form-field {
  font-size: 14px;
}

mat-paginator {
  width: 100%;
}

.estilsArt {
  cursor: pointer;
  transition: all 0.4s;
}

.estilsArt:hover {
  color: var(--lemon);
  background-color: var(--accent);
}

button {
  background-color: rgba(230, 230, 230, 1);
}

.cover-img {
  max-width: 100px;
  height: fit-content;
  padding: 5px;
  border-radius: 5%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.cover-img.zoom {
  position: relative;
  transform: scale(6);
  z-index: 1;
  @media(max-width: 700px) {
    transform: scale(3);
  }
  @media(max-width: 425px) {
    transform: scale(3);
  }
}