<h2>{{ 'BlogOf' | translate }} {{ this.username }}
  <div id="linkToHome" routerLink="/admin/new">BlogEx.com</div>
</h2>

<h1>{{ this.articles.length }} {{ 'Articles' | translate }}</h1>

<mat-paginator [length]="articles.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page" showFirstLastButtons (page)="onPageChange($event)">
</mat-paginator>

<div class="container d-flex" style="max-width: 270px;">
  <input class="form-control" type="search" placeholder="{{ 'crud.list-images.insert-tilte' | translate }}"
    aria-label="Search" [(ngModel)]="this.filterByTitle">
</div>

<ng-container *ngIf="this.articles.length; else noArticles">
  <!-- <div class="example-card"
    *ngFor="let article of this.articles | search:this.filterByTitle | paginate:pageSize:pageNumber">
    <mat-card-header>
      <div class="example-header-image"></div>
      <div id="title-post">{{ article.title }} | {{ this.temp }} ºC</div>
    </mat-card-header>
    <div class="imageMarc">
      <img mat-card-image [src]="article.imagenPortada" alt="{{ article.alt1 }}">
    </div>
    <mat-card-content>
      <p id="footerImg">{{ article.alt1 }}</p>
      <div class="autor">
        <button *ngIf="article.usuario.nombreUsuario == this.tokenSvc.getUsername()" mat-stroked-button color="accent"
          id="editAutor" (click)="onEdit(article)">
          <mat-icon>edit</mat-icon> {{ 'EditArticle' | translate }}
        </button>
        <button class="mx-2" mat-stroked-button color="accent" id="editAutor" (click)="onGoToMap(article)">
          <mat-icon>room</mat-icon> Map
        </button>
      </div>
      <p>
        {{ article.text1 }}
      </p>
    </mat-card-content>
    <app-articleGallery [articleId]="article.id"></app-articleGallery>
    <mat-card-actions>
    </mat-card-actions>
  </div> -->

  <div class="example-card mb-5 animate__animated animate__backInLeft"
    *ngFor="let article of this.articles | search:this.filterByTitle | paginate:pageSize:pageNumber"
    style="width: 90%;">
    <div class="row g-0">
      <div class="col-sm-4 col-md-4">
        <a routerLink="/article/{{ article.id }}">
          <img [src]="article.imagenPortada" class="img-fluid rounded-start" alt="{{ article.alt1 }}">
        </a>
      </div>
      <div class="col-sm-8 col-md-8">
        <div class="card-body">
          <h5 class="card-title mt-2" id="title-post">{{ article.title }}</h5>
          <button class="m-0 p-2" mat-stroked-button color="accent" id="editAutor"
            [routerLink]="['/article/', article.id]">
            <mat-icon>visibility</mat-icon> {{ 'user-blog.see-more' | translate }}
          </button>
        </div>
        <p class="mx-3">Videos: {{ article.videos.length }}</p>
        <p class="mx-3">{{ 'images' | translate }}: {{ article.imagenes.length }}</p>
      </div>
    </div>
  </div>

</ng-container>

<ng-template #noArticles>
  <div class="no-articles-card">
    <mat-card-header>
      <div class="example-header-image"></div>
      <div id="title-post">No articles</div>
    </mat-card-header>
    <div class="imageMarc">
      <img mat-card-image src="https://res.cloudinary.com/dwfwp0eyg/image/upload/v1666339946/logo3_eaiqwb.jpg">

    </div>
  </div>
</ng-template>

<app-footer></app-footer>