@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.body {
    background-image: linear-gradient(rgba(2, 7, 12, 0.2), rgba(2, 7, 12, 0.2));
    box-shadow: 6px 6px 6px rgb(15, 15, 15);
}

h1 {
    margin: -80px 0px 0px;
    text-align: center;
    color: var(--accent);

    @media(max-width:600px) {
        margin: -80px 0px 0px;
    }
}

h2 {
    position: relative;
    top: -75px;
    left: 0px;
    z-index: 1;
    height: auto;
    padding: 25px 0px 15px;
    text-align: center;
    font-size: 2.2rem;
    border-bottom: 2px solid dimgray;
    background-color: silver;
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);

    @media(max-width:600px) {
        font-size: 2rem;
    }

    @media(max-width:355px) {
        font-size: 1.8rem;
    }
}

button:hover {
    color: var(--lemon);
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#linkToHome {
    position: absolute;
    top: 30px;
    right: 4%;
    z-index: 1;
    color: var(--lemon);
    border-radius: 2px;
    padding: 5px;
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);

    height: 24px;
    display: flex;
    align-items: center;
    font-size: .9rem;

    background-color: var(--accent);
    transition: all .1s;
    cursor: pointer;

    @media(max-width:600px) {
        top: 80px;
    }
}

#linkToHome:hover {
    box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

.top-paginator {
    margin: 10px 0px 0px;

    @media(max-width:600px) {
        margin: 0px 0px 0px;
    }
}

.example-card:hover {
    max-width: 1025px;
    box-shadow: 6px 6px 6px #888888;
}

.example-card {
    max-width: 1000px;
    margin: 20px auto 100px;
    background-color: var(--darkGrey);
    color: white;
    padding: 0px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 6px #888888;

    #title-post {
        font-size: 1.3rem;
        font-family: 'Libre Baskerville', serif;
    }

    p {
        font-size: .9rem;
        font-family: 'Libre Baskerville', serif;
    }

    .imageMarc {
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        overflow: hidden;
        width: 100%;
    }

    img {
        width: 100%;
        height: 180px;
        margin: 0px;
    }

    #footerImg {
        font-size: .8rem;
        padding: 10px;
        margin: 0px;
    }
}

.form-control {
    width: 96%;
    height: 35px;
    padding: 0px .5rem;
    font-size: 1rem;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px inset var(--lemon);
    color: black;
    font-weight: 400;
    background-color: white;
    transition: all .2s;
    margin-left: 2%;
    vertical-align: middle;
}

.form-control:focus {
    box-shadow: 0px 0px 0px 3px inset var(--lemon);
    background-color: #fbfdf1;
    outline: 3px solid var(--lemon);
}

.no-articles-card {
    max-width: 1000px;
    margin: 20px auto 100px;
    background-color: var(--darkGrey);
    color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 6px #888888;

    #title-post {
        font-size: 1.3rem;
        padding: 20px;
        font-family: 'Libre Baskerville', serif;
    }

    img {
        width: 100%;
        margin: 0px;
    }
}
