<div>
    <span class="material-icons">warning</span>
    <h3>{{ 'YouSure' | translate }}</h3>
    <mat-card-content>
      <p>{{ 'Undone' | translate }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="this.data.option === 'deleteArticle'" mat-button (click)="onDeleteArticle()">{{ 'Delete' | translate }} {{ 'Article' | translate | lowercase}}</button>
      <button *ngIf="this.data.option === 'deleteImage'" mat-button (click)="onDeleteImage()">{{ 'Delete' | translate }} {{ 'Image' | translate | lowercase }}</button>
      <button mat-button (click)="cancel()">{{ 'Cancel' | translate }}</button>
    </mat-card-actions>
</div>


