div {
    padding: 20px;

    @media(max-width: 450px) {
        padding: 0px;
    }
}
p {
    text-align: center;
}

.material-icons {
    display: flex;
    justify-content: center;
    color: red;
    margin: 10px 30%;
    font-size: 70px;
}

h3 {
    font-size: 1.6rem;
    text-align: center;
}

button {
    color: white;
}

button:nth-child(1) {
    background-color: var(--accent);
}

button:nth-child(2) {
    background-color: var(--warnOrange);
    margin-left: 20px;
}