@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
h2{
    position: relative;
    top:-75px;
    left:0px;
    z-index: 1;
    height: auto;
    padding: 25px 0px 15px;
    text-align: center;
    font-size: 2.2rem;
    background-color: white;
    border-bottom: 2px solid dimgray;
    background-color: silver;
}
#linkToHome{
    position: absolute;
    top:30px;
    right: 4%;
    z-index: 1;
    color: #69F0AE;
    border-radius: 2px;
    padding:2px;
    background-color: var(--accent);
    transition: all .1s;
    cursor: pointer;
    @media(max-width:600px){
        top:auto;
        margin-top: -85px;
    }
}
.example-card{
    width:78%;
    margin:-20px auto 100px;
    background-color: rgba(47,47,47,1);
    color:white;
    padding: 0px;
    mat-card-title{
        font-size: 1.6rem;
        font-family: 'Libre Baskerville', serif;
        padding: 10px 0px;
        line-height: 2rem;
    }
    .imageMarc{
        //margin-bottom: 4px;
        border-top: 2px solid white;
        border-bottom: 1px solid white;
        max-height: 600px;
        overflow: hidden;
        width:100%;
    }
    img{
        /* margin-bottom: 4px;
        border-top: 2px solid white;
        border-bottom: 1px solid white; */
        margin:0px;
        width: 100%;
    }
    #footerImg{
        font-size: .8rem;
        padding: 10px;
        margin: 0px;
    } 
}
mat-card-content{
    p{
    font-size: 1.1rem;
    padding:30px 15px;
    //text-indent: 30px;
    display: block;
    overflow:auto;
    white-space: pre-line;
    @media(max-width:600px){
        font-size: 1rem;
    }
    }
}