<ng-container *ngIf="this.articles.length > 0; else noArticles">
  <h2 *ngIf="this.tokenSvc.isAdmin(); else noAdmin">The Blog of {{ this.username }}
    <div id="linkToHome" routerLink="/list">BlogEx.com</div>
  </h2>
  <ng-template #noAdmin>
    <h2>The Blog of {{ this.articles[0].usuario.nombreUsuario }}
      <div id="linkToHome" routerLink="/list">BlogEx.com</div><!-- class="animate__animated animate__fadeInRight" -->
    </h2>
  </ng-template>
  
  <mat-paginator [length]="articles.length" [pageSize]="pageSize" aria-label="Select page" showFirstLastButtons
      (page)="onPageChange($event)">
    </mat-paginator>
    
  <div *ngFor="let article of this.articles | paginate:pageSize:pageNumber">

    <div class="example-card">
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <div id="title-post">{{ article.title }} | {{ this.temp }}ºC</div>
        <!-- <mat-card-subtitle>{{ article.id }}</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <a (click)="onOpenGallery(article.id)" style="cursor: pointer;" matTooltip="gallery view"
        matTooltipPosition="above">
        <img mat-card-image [src]="article.imagenPortada" alt="Photo of a Shiba Inu">
      </a> -->
      <div class="imageMarc">
        <img mat-card-image [src]="article.imagenPortada" alt="{{ article.alt1 }}">
      </div>
      <mat-card-content>
        <p id="footerImg">{{ article.alt1 }}</p>
        <div class="autor">
          <button *ngIf="article.usuario.nombreUsuario == this.tokenSvc.getUsername()" mat-stroked-button color="accent"
            id="editAutor" (click)="onEdit(article)">
            <mat-icon>edit</mat-icon> Edit article 
          </button>
        </div>
        <p>{{ article.text1 }}</p>
      </mat-card-content>
      <app-articleGallery [articleId]="article.id"></app-articleGallery>
      <mat-card-actions align="end">
        <!-- <button mat-button routerLink="/edit/{{ article.id }}">Edit</button> -->
        <!-- <button mat-button (click)="onDeleteArticle(article.id)">Delete</button> -->
        <!-- <button mat-button (click)="onImgs(article.id)">Galery</button> -->
        <!-- <button mat-button routerLink="/add-image/{{ article.id }}">Add img</button> -->
        <!-- <img class="image-thumbnail" style="max-width: 100px; border-radius: 5%;" [src]="miniatura" *ngIf="this.image" style="margin-top: 5px;">
        <input type="file" accept=".png, .jpg, .jpeg" multiple id="inputUpload" formControlName="image" (change)="handleImage($event)"> -->
        <!-- <button mat-button data-bs-toggle="modal" data-bs-target="#gallery" (click)="loadImgsByArticleId(article.id)"> -->
        <!-- <button *ngIf="this.tokenService.isLogged()" mat-button matTooltip="edit article" matTooltipPosition="left"
          (click)="onEdit(article)">
          <mat-icon>article</mat-icon>
        </button>
        <button mat-button (click)="onOpenGallery(article.id)" matTooltip="gallery view">
          <mat-icon>image</mat-icon>
        </button> -->
      </mat-card-actions>
    </div>
  </div>
  <mat-paginator [length]="articles.length" [pageSize]="pageSize" aria-label="Select page" showFirstLastButtons
    (page)="onPageChange($event)">
  </mat-paginator>
</ng-container>

<ng-template #noArticles>
  <!-- <h2>The Blog of {{ this.tokenSvc.getUsername() }}</h2> -->
  <h2>The Blog of {{this.tokenSvc.getUsername() }}
    <div id="linkToHome" class="animate__animated animate__fadeInRight" routerLink="/list">BlogEx.com</div>
  </h2>
  <!-- <mat-icon class="animate__animated animate__fadeInLeft" routerLink="/">home</mat-icon>
  <div *ngIf="this.tokenSvc.isLogged(); else notLogged" id="linkToHome"
    class="animate__animated animate__fadeInRight" routerLink="/list">My Images</div>
  <ng-template #notLogged>
    <div id="linkToHome" class="animate__animated animate__fadeInRight" (click)="openDialog()">My Images</div>
  </ng-template> -->
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <!-- <mat-card-title>No articles</mat-card-title> -->
        <div id="title-post">No articles</div>
      </mat-card-header>
      <div class="imageMarc">
        <img mat-card-image src="https://res.cloudinary.com/dwfwp0eyg/image/upload/v1666339946/logo3_eaiqwb.jpg"
          alt="blogex-logo">
      </div>
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button matTooltip="new article" matTooltipPosition="left" routerLink="/admin/new">
          <mat-icon style="color: rgba(255, 255, 255);">article</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</ng-template>

<app-footer></app-footer>