<!-- <div class="scroll" #topPage> -->
<div style="display: flex; justify-content: center;">
  <button *ngIf="this.imagenes.length != 0" mat-button (click)="hideGallery()">
    <mat-icon>block</mat-icon> Hide
  </button>
</div>

<!-- IMAGES LIST WHEN NOT LOGGED -->
<div class="main-container" *ngIf="!this.tokenService.isLogged()">

  <div *ngFor="let imagen of this.imagenes; let i = index">
    <!-- https://animate.style/ -->
    <mat-card class="example-card animate__animated animate__zoomIn">
      <a type="button" matTooltip="slide view" matTooltipPosition="above" data-bs-toggle="modal"
        data-bs-target="#gallery" style="cursor: pointer;" (click)="getIndex(i)">
        <img mat-card-image [src]="imagen.url" alt="">
      </a>
    </mat-card>
  </div>
</div>


<!-- ARTICLES LIST -->
<h1 style="text-align: center;">ARTICLES by {{ this.username }} </h1>
<div class="main-container animate__animated animate__backInLeft">

  <mat-card *ngIf="this.articles.length == 0" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>No articles</mat-card-title>
      <mat-card-subtitle>BLOGEX</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://res.cloudinary.com/dwfwp0eyg/image/upload/v1666339946/logo3_eaiqwb.jpg"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button matTooltip="new article" matTooltipPosition="left" routerLink="/admin/new">
        <mat-icon>article</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <div *ngFor="let article of this.articles">
    <mat-card class="example-card">
      <mat-card-header style="margin-bottom: 20px;">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{ article.title }}</mat-card-title>
        <!-- <mat-card-subtitle>{{ article.id }}</mat-card-subtitle> -->
      </mat-card-header>
      <a *ngIf="this.tokenService.isLogged(); else notLogged" (click)="onOpenGallery(article.id)"
        style="cursor: pointer;" matTooltip="gallery view" matTooltipPosition="above">
        <img mat-card-image [src]="article.imagenPortada" alt="Photo of a Shiba Inu">
      </a>

      <ng-template #notLogged>
        <a style="cursor: pointer;" matTooltip="gallery view" matTooltipPosition="above"
          (click)="showGallery(article.id)">
          <img mat-card-image [src]="article.imagenPortada" alt="Photo of a Shiba Inu">
        </a>
      </ng-template>

      <mat-card-content>
        <p>{{ article.alt1 }}</p>
        <p>{{ article.text1 }}</p>
        <p>Author: {{ article.usuario.nombreUsuario }}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <!-- <button mat-button routerLink="/edit/{{ article.id }}">Edit</button> -->
        <!-- <button mat-button (click)="onDeleteArticle(article.id)">Delete</button> -->
        <!-- <button mat-button (click)="onImgs(article.id)">Galery</button> -->
        <!-- <button mat-button routerLink="/add-image/{{ article.id }}">Add img</button> -->
        <!-- <img class="image-thumbnail" style="max-width: 100px; border-radius: 5%;" [src]="miniatura" *ngIf="this.image" style="margin-top: 5px;">
        <input type="file" accept=".png, .jpg, .jpeg" multiple id="inputUpload" formControlName="image" (change)="handleImage($event)"> -->
        <!-- <button mat-button data-bs-toggle="modal" data-bs-target="#gallery" (click)="loadImgsByArticleId(article.id)"> -->
        <button *ngIf="this.tokenService.isLogged()" mat-button matTooltip="edit article" matTooltipPosition="left"
          (click)="onEdit(article)">
          <mat-icon>article</mat-icon>
        </button>
        <button *ngIf="this.tokenService.isLogged()" mat-button (click)="onOpenGallery(article.id)"
          matTooltip="gallery view">
          <mat-icon>image</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<!-- </div> -->
<!-- MODAL WHEN IS LOGGED -->
<div class="modal fade" id="gallery" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
  style="padding: 0px;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="height: 530px; background-color: transparent; border: none;">
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">

        <!-- CAROUSEL -->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- <div class="carousel-item active">
              <img src="https://res.cloudinary.com/dwfwp0eyg/image/upload/v1666339946/logo3_eaiqwb.jpg"
                class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" *ngFor="let imagen of imagenes; let i = index">
              <img [src]="imagen.url" class="d-block w-100" alt="...">
            </div> -->
            <div class="carousel-item" data-bs-interval="2000" *ngFor="let imagen of imagenes; let i = index"
              [ngClass]="{'active': i == this.indice }">
              <img [src]="imagen.url" class="d-block w-100" alt="...">
            </div>
            <!-- <div class="carousel-item" *ngFor="let imagen of imagenes; let i = index" [ngClass]="{'active': i == 0 }">
              <img [src]="imagen.url" class="d-block w-100" alt="...">
            </div> -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>