<h1>{{ 'Images' | translate }} {{ this.username }} </h1>

<mat-paginator [length]="articles.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
  aria-label="Select page" showFirstLastButtons (page)="onPageChange($event)">
</mat-paginator>

<div *ngIf="this.articles.length > 0; else noArticles" class="container shadow">

  <div *ngFor="let article of this.articles | paginate:pageSize:pageNumber">
    <mat-card class="example-card animate__animated animate__backInLeft" style="background-color: #607D8B">
      <mat-card-header style="margin-bottom: 10px;">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title style="color: rgba(255, 255, 255);">{{ article.title }}</mat-card-title>
        <!-- <mat-card-subtitle>{{ article.id }}</mat-card-subtitle> -->
      </mat-card-header>
      <a (click)="onOpenGallery(article.id)" style="cursor: pointer;">
        <img mat-card-image [src]="article.imagenPortada" alt="Photo of a Shiba Inu">
      </a>
      <mat-card-content>
        <!-- <p>{{ article.alt1 }}</p> -->
        <!-- <p style="color: rgba(255, 255, 255);">{{ article.text1 }}</p> -->
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button matTooltip="edit article" matTooltipPosition="left" (click)="onEdit(article)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-button (click)="onOpenGallery(article.id)" matTooltip="gallery view">
          <mat-icon>image</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<ng-template #noArticles>
  <div class="container shadow">
    <div>
      <mat-card class="example-card animate__animated animate__backInLeft" style="background-color: #607D8B">
        <mat-card-header style="margin-bottom: 10px;">
          <mat-card-title style="color: rgba(255, 255, 255);">No images</mat-card-title>
        </mat-card-header>  
          <img mat-card-image src="https://res.cloudinary.com/dwfwp0eyg/image/upload/v1666339946/logo3_eaiqwb.jpg" alt="blogex-logo">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-button matTooltip="new article" matTooltipPosition="left" routerLink="/admin/new">
            <mat-icon style="color: rgba(255, 255, 255);">edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>

<app-footer></app-footer>