/* You can add global styles to this file, and also import other style files */
:root{
--primary: #607D8B;//500
--accent: white;//400
--warn: #A52A2A;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
