/* You can add global styles to this file, and also import other style files */

@import url("https://unpkg.com/leaflet@1.9.2/dist/leaflet.css");

:root{
--primary: #3F51B5;//500
--accent: #607D8B;//400
--bottle: #33582F;//400
--cream: rgb(249, 243, 236);
--darkGrey: rgba(47, 47, 47, 1);
--warnBrown: #A52A2A;
--warnOrange: #E64A19;
--lemon: #D5F2B5;
// --lemon: #9CDE4E;
--greenCake: #69F0AE;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden }

.leaflet-popup{
    width: 240px;
}
.leaflet-popup img{
    width: 100%;
}
.leaflet-popup-content{
    margin: 8px;
}
.text, .example-card>mat-card-content>p{
    font-size: .7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.leaflet-container a{
    cursor:pointer;
    font-size: 1rem;
}
.mat-menu-panel{
    min-width: 200px !important;
    max-width: 300px !important;
    background-color: var(--lemon) !important;
}
.mat-menu-item:hover{
    background-color: #607D8B !important;
    color: greenyellow !important;
    .mat-icon{
        color: greenyellow !important;
    }
}
.mat-paginator-container{
    display: flex !important;
    justify-content: center !important;
    margin-bottom: 20px;
}
@media(max-width: 300px){
    .mat-dialog-container{
        padding: 10px !important;
    }
    .mat-toolbar-row{
        padding: 0px 4px 0px 2px !important;
    }
}
.mat-card-header-text{
    margin:0px !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}