/* You can add global styles to this file, and also import other style files */

@import url("https://unpkg.com/leaflet@1.9.2/dist/leaflet.css");

:root{
--primary: #3F51B5;//500
--accent: #607D8B;//400
--warnBrown: #A52A2A;
--warnOrange: #E64A19;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaflet-popup{
    width: 340px;
}
.leaflet-popup img{
        width: 100%;
}
.text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.leaflet-container a{
    cursor:pointer;
    font-size: 1.2rem;
}