<div class="container">
  <form [formGroup]="this.captionForm" (ngSubmit)="onSubmit(captionForm.value)">
    <h3>{{ 'Add' | translate }} {{ 'Caption' | translate | lowercase}}</h3>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'Caption' | translate }}</mat-label>
        <input matInput placeholder="{{ 'Insert' | translate }} {{ 'Caption' | translate | lowercase }}"
          formControlName="caption" required>
      </mat-form-field>
    </p>
    <button type="submit" mat-raised-button>{{ 'SaveChanges' | translate }}</button>
  </form>
</div>