.modal {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background: rgba(255, 255, 255, 0.09);
    background-color: #000;
    text-align: center;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
}

.carousel-item {
    position: relative;
}

.carousel-image {
    width: 100%;
    max-height: 99vh;
    object-fit: contain;
    flex-shrink: 0;
}

.image-title {
    position: absolute;
    top: 20px;
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta el centro */
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    z-index: 1000;
    @media(max-width: 425px) {
        font-size: 13px;
    }
}

.cursor-none {
    cursor: default;
}

.carousel-control {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border: none;
    font-size: 36px;
    cursor: pointer;
    color: white;
    transform: translateY(-50%);
    user-select: none;
    z-index: 1000;
}

.carousel-control:disabled {
    color: transparent;
    background-color: transparent;
    cursor: default;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    z-index: 1000;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}