<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <form [formGroup]="this.editForm" (ngSubmit)="onSubmit(editForm.value)">
        <h3>Edit</h3>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title" [(ngModel)]="this.article.title" required>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Image 1</mat-label>
                <input matInput placeholder="img 1" formControlName="img1" [(ngModel)]="this.article.img1" required>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Alt 1</mat-label>
                <input matInput placeholder="alt1" formControlName="alt1" [(ngModel)]="this.article.alt1" required>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Text 1</mat-label>
                <input matInput placeholder="text1" formControlName="text1" [(ngModel)]="this.article.text1" required>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Longitude</mat-label>
                <input type="number" matInput placeholder="longitude" formControlName="longitude" [(ngModel)]="this.article.longitude"  required>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Latitude</mat-label>
                <input type="number" matInput placeholder="latitude" formControlName="latitude" [(ngModel)]="this.article.latitude" required>
            </mat-form-field>
        </p>
        <button type="submit" mat-raised-button>Edit</button>
    </form>
</div>