footer{
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
    width: 100%;
    background-color: var(--accent);
    color: var(--lemon);
    position: relative;
    bottom: 0px;
    left: 0px; 
}

.btn-subscribe {
    background-color: var(--lemon);
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
}

.btn-subscribe:hover {
    background-color: var(--lemon);
    box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

a {
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
    border: none;
}

a:hover {
    box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
    box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
    border: none;
}
