.full-width {
  width: 80%;
  margin-bottom: 20px;
}

mat-card {
  max-width: 800px;
  height: 600px;
  padding: 16px;
}

.buttons-container {
  display: flex;
  gap: 25px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 100%;
  min-height: 70vh;
}

.login {
  flex: 1;
  // display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  // text-align: center;
}

.cancel-btn {
  background-color: var(--warnOrange);
  color: white;
}

.title {
  font-size: 17px;
  margin-top: 20px;
  margin-top: 20px;
}

p {
  font-size: 12px;
}

button {
  background: var(--accent);
  color: var(--lemon);
  // height: 45px;
  box-shadow: 1px 1px 6px rgba(60, 60, 60, 1);
  // margin: 10px auto 0px auto;
}

button:hover {
  box-shadow: 3px 3px 6px rgba(60, 60, 60, 1);
}

::ng-deep .mat-tab-label-content {
  font-size: 16px;
}