<div class="body">
    <div class="login">
        <mat-tab-group mat-align-tabs="center" animationDuration="500ms">
            <!-- PERSONAL INFORMATION TAB -->
            <mat-tab class="custom-tab-label" label="{{ 'myAccount.PersonalInformation' | translate }}">
                <mat-card>
                    <mat-card-title>{{ 'myAccount.PersonalInformation' | translate }}</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                           
                             <h4>{{ 'Name' | translate }} ({{ 'myAccount.Optional' | translate }})</h4>
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>{{ 'Name' | translate }}</mat-label>
                                <input matInput formControlName="nombre" placeholder="{{ 'Name' | translate }}">
                                <button 
                                    *ngIf="form.get('nombre')?.value" 
                                    matSuffix 
                                    mat-icon-button 
                                    class="clear-btn" 
                                    aria-label="Clear" 
                                    (click)="form.get('nombre')?.reset()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.['maxlength']"
                                    class="error">
                                    {{ 'TitleLength' | translate }}
                                </div>
                            </mat-form-field>
                            <h4>{{ 'Username' | translate }}</h4>
                            <mat-form-field appearance="fill" class="full-width">
                                <mat-label>{{ 'Username' | translate }}</mat-label>
                                <input matInput formControlName="nombreUsuario" placeholder="Ingrese su usuario" matTooltip="{{ 'myAccount.updateUsernameWarm' | translate }}">
                                <!-- <mat-error *ngIf="form.get('nombreUsuario')?.invalid && form.get('nombreUsuario')?.touched">
                                    El username es obligatorio.
                                </mat-error> -->
                            </mat-form-field>
                            <h4>{{ 'Email' | translate }}</h4>
                            <mat-form-field appearance="fill" class="full-width" disabled>
                                <mat-label>{{ 'Email' | translate }}</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="{{ 'Email' | translate }}" required>
                                <button 
                                    *ngIf="form.get('email')?.value" 
                                    matSuffix 
                                    mat-icon-button 
                                    class="clear-btn" 
                                    aria-label="Clear" 
                                    (click)="form.get('email')?.reset()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <div *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['maxlength']"
                                    class="error">
                                    {{ 'TitleLength' | translate }}
                                </div>
                                <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                                    {{ 'auth.signup.invalid-email' | translate }}
                                </mat-error>
                            </mat-form-field>
                
                
                            <div class="buttons-container">
                                <button class="save-btn" mat-raised-button type="submit" [disabled]="!form.valid">
                                    {{ 'SaveChanges' | translate }}
                                </button>
                                <button class="set-pass-btn" mat-raised-button type="button" (click)="onSetPassword()">
                                    {{ 'ConfirmChangePass' | translate }}
                                </button>
                
                            </div>
                        </form>
                    </mat-card-content>
                
                    <mat-card-actions align="end">
                
                
                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <!-- ACCOUNT TAB -->
            <mat-tab class="custom-tab-label" label="{{ 'myAccount.Account' | translate }}">
                <mat-card>
                    <mat-card-title class="title mb-2"> {{ 'myAccount.CancelAccount' | translate }}</mat-card-title>
                    <p>
                        {{ 'myAccount.cancelAccountWarm' | translate }}
                    </p> 
                    <mat-card-content>
                        <div class="buttons-container mb-2">
                            <button class="cancel-btn" mat-raised-button type="button" (click)="onDeleteAccount()">
                                {{ 'myAccount.CancelAccount' | translate }}
                            </button>
                                 
                        </div>

                    </mat-card-content>
                
                    <mat-card-actions align="end">
                
                
                    </mat-card-actions>
                </mat-card>
                
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<app-footer></app-footer>
