.full-width {
  width: 100%;
  margin-bottom: 20px;
}

mat-card {
  max-width: 1000px;
  height: 600px;
  padding: 16px;
}

.buttons-container {
  display: flex;
  gap: 25px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  height: 100%;
  min-height: 70vh;
}

.login {
  flex: 1;
  // display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  // text-align: center;
}

.cancel-btn {
  background-color: var(--warnOrange);
  color: white;
}

mat-card-title {
  text-align: center;
  padding: 20px 0px;
  font-size: 1.4rem;

  @media(max-width:800px) {
      font-size: 1.4rem;
      margin-left: 10px;
  }
}

p {
  font-size: 12px;
}

.save-btn {
  background: var(--accent);
  color: var(--lemon);
}

.save-btn:hover {
  background-color: silver;
  color: var(--accent);
}

.set-pass-btn {
  background-color: silver;
  color: var(--accent);
}

.set-pass-btn:hover{
  color: var(--lemon);
  background-color: var(--accent);
}

::ng-deep .mat-tab-label-content {
  font-size: 16px;
}